* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body::-webkit-scrollbar {
  width: 0px;
  /* width of the entire scrollbar */
}

a {
  color: #000;
  text-decoration: none;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
}



img,
video {
  height: auto;
  max-width: 100%;
}

h1,
h3 {
  color: #000;
  text-align: center;
}

h1,

h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

h2 {
  font-size: 26px;
  text-align: center;
  width: 100%;
}

button {
  background: none;
  border: none;
  outline: none;
}